<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Edit student</h1>
        <form action="/update_student/{{student.id}}" method = 'POST'>
            <input type="text" name="name" value="{{student.name}}"> <br><br>
            <input type="text" name="faculty" value="{{student.faculty}}"><br><br>
            <input type="text" name="semester" value="{{student.semester}}"><br><br>
            <button type="submit">update</button>
        </form>
        <a href="/">back to students</a>
    </center>
    
</body>
</html>